<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title(yield(:title)) %></title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= render  "layouts/shim" %>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  </head>

  <body>
    <!-- top nav bar -->
    <%= render  "layouts/header" %>
    <!-- end top nav bar -->

    <!-- main content -->
    <div id="main" class="container">
      <%= yield %>

      <%= render  "layouts/footer" %>
    </div>
    <!-- end main content -->

  </body>
</html>
